@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  font-size: 14px;
  overflow: hidden;
}

body {
  min-heigh: 100vh;
  position: relative;
}

.select-c-none {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}
